<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sumit Jain !!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--        <a class="navbar-brand" href="{% url 'sumit' %}" style="padding-left:10rem">-->
<!--          SJ-->
<!--        </a>-->
         <a  href="{% url 'sumit' %}" class="btn btn-primary" style="margin-left:10rem; float:right" >SJ</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'jobs' %}" target="_blank">Experience <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://www.linkedin.com/in/sumitj/" target="_blank">LinkedIn</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://github.com/SumitJainUTD" target="_blank">Github</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://gitlab.com/SumitJain007" target="_blank">GitLab</a>
              </li>
<!--              <li class="nav-item active">-->
<!--                <a class="nav-link" href="http://algorithms.tutorialhorizon.com/" target="_blank">Blog</a>-->
<!--              </li>-->
                <li class="nav-item active">
                <a class="nav-link" href="mailto:SumitJain0612@gmail.com" target="_blank">Email</a>
              </li>
                 </li>
                <li class="nav-item active">
                <a class="nav-link" href="https://app.box.com/s/p236jk6927gcif5zmh685bq4uh9pa891" target="_blank">Resume</a>
              </li>
            </ul>
          </div>
<!--        <a aria-current="page" href="/" class="ml-3 my-3 px-2 py-1 rounded text-md text-center inline-block text-white font-bolder tracking-wider mr-3 hover:bg-indigo-600 hover:text-white text-white bg-indigo-400 bg-indigo-600">SJ</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--          <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="https://github.com/sporkculture">GitHub</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="{% static 'sumit_resume.pdf' %}">Resume</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--            </li> -->
<!--          </ul>-->
<!--        </div>-->
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Sumit Jain</h1>
          <p class="lead text-muted">Software Engineer with the heart of a QA</p>

          <img src="{% static 'sjain.png' %}" height=225/>
<!--            <p>-->
<!--                <a href="{% url 'jobs' %}" class="btn btn-secondary my-2" >Experience</a>-->
<!--                <a href="https://www.linkedin.com/in/sumitj/" class="btn btn-secondary my-2" target="_blank" >LinkedIn</a>-->
<!--                <a href="https://github.com/SumitJainUTD" class="btn btn-secondary my-2" target="_blank" >GitHub</a>-->
<!--                <a class="btn btn-secondary my-2" href="http://algorithms.tutorialhorizon.com/" target="_blank">Blog</a>-->
<!--                <a href="mailto:SumitJain0612@gmail.com" class="btn btn-secondary my-2" target="_blank">Email</a>-->
<!--    &lt;!&ndash;                <a class="btn btn-secondary my-2" href="{% static 'sumit_resume.pdf' %}" target="_blank">Resume</a>&ndash;&gt;-->
<!--                <a class="btn btn-secondary my-2" href="https://app.box.com/s/p236jk6927gcif5zmh685bq4uh9pa891" target="_blank">Resume</a>-->
<!--            </p>-->
            </br>
            </br>
<!--            <p class="font-weight-light">Skills:</p>-->
            <p>
                <h5 style="font-weight:normal">
                    {% for skill in skills.all %}
                        <span style="font-weight:normal" class="badge bg-primary text-light">{{ skill.name}}</span>
                        {% if forloop.counter|divisibleby:8 %}
                            {{ value|linebreaks }}
                        {% endif %}
                    {% endfor %}
                </h5>

            </p>

            <br>
                <h5>
                    this site uses:
                </h5>

             <h5 style="font-weight:normal">
                    <span style="font-weight:normal" class="lead badge bg-secondary text-light">Python</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">Django</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">Docker</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">ECR</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">ECS - fargate</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">AWS-codepipeline</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">ELB</span>
                    <span style="font-weight:normal" class="badge bg-secondary text-light">CICD</span>
                </h5>

        </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>

</html>